@import "tailwindcss";

:root {
  --background: #EAE8DB;
  --primary: #DFB65C;
  --secondary: #0F1010;
  --dark: #363636;
  --light: #757575;
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-dark: var(--dark);
  --color-light: var(--light);
}

body {
  font-family: var(--font-dmsans), sans-serif;
}

.font-primary {
  font-family: var(--font-forum), serif;
}